---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SSI Engenharia - Segurança e Soluções Industriais">
	<Header />
	<main>
		<Hero />
		<Services />
	</main>
	<Footer />
</Layout>
