<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/ssi-institucional/pt/" />
  </head>
  <body>
    <script>
      window.location.href = "/ssi-institucional/pt/";
    </script>
  </body>
</html>
